# HOST
VITE_HOST_API=https://remittance-customer-gateway.global.fintech23.xyz

# PROJECT NAME
VITE_PROJECT_NAME=

# Admin environment type DEV, UAT, PROD
VITE_WEB_ENVIRONMENT=DEV

# Build target type mobile, web
VITE_BUILD_TARGET=web